<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.murodjonrahimov.wecare">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".DoctorActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".PatientActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".PatientProfileForm" />
        <activity android:name=".PatientPostForm" />
        <activity android:name=".DoctorProfileForm" />
        <activity android:name=".PostWithComments" />
        <activity android:name=".PostDoctorComments" />
        <activity android:name=".OnBoarding" />

        <service android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".guide.GuideActivity" />
        <activity android:name=".guide.GuideDoctorActivity" />
        <activity android:name=".guide.GuidePatientActivity" />
        <activity android:name=".TwoAuthActivityDoctorReg" />
        <activity
            android:name=".CameraPopUpActivity"
            android:theme="@style/AppTheme.CustomTheme"></activity>
        <activity android:name=".NotApprovedActivity"></activity>
    </application>

</manifest>