<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.murodjonrahimov.wecare">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"/>
        <activity android:name=".DoctorActivity"/>
        <activity android:name=".PatientActivity"/>
        <activity android:name=".RegistrationActivity"/>
        <activity android:name=".PatientProfileForm"/>
        <activity android:name=".PatientPostForm"/>
        <activity android:name=".DoctorProfileForm"/>
        <activity android:name=".PostWithComments"/>
        <activity android:name=".PostDoctorComments"/>
        <activity android:name=".OnBoarding"/>

        <service android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <activity android:name=".guide.GuideActivity">
        </activity>
        <activity android:name=".guide.GuideDoctorActivity">
        </activity>
        <activity android:name=".guide.GuidePatientActivity">
        </activity>
    </application>

</manifest>